{% extends 'template.html' %}
{% load static %}
{% block headder %}
<label class="theme-switch" for="checkbox">
    <input type="checkbox" id="checkbox">
    <div class="mode-container">
      <i class="gg-sun"></i>
      <i class="gg-moon"></i>
    </div>
  </label>

<div class="main-container">
    <div class="menu">
        <ul class="side-menu" >
            <li class="rent">Rent</li>
            <li class="tenent">Tenent</li>
            <li class="home">Home</li>
        </ul>
    </div>

    <div class="w3l-banner-content">
        <div class="container">
         <table class="table">
            <tr class="table-headder">
                <td>Home</td>
                <td>Floor</td>
                <td>Rent Month/Year</td>
                <td>Rent recived date</td>
                <td>Rent Amount</td>
            </tr>
            <tr class="table-data">
                <td>Home</td>
                <td>Floor</td>
                <td>Rent Month/Year</td>
                <td>Rent recived date</td>
                <td>Rent Amount</td>
            </tr>
         </table>
        </div>
      </div>
</div>
  
  
  
{% endblock %}
