{% extends 'template.html' %}
{% load static %}
{% block headder %}
{% include 'dashboard_headder.html' %}

    <div class="w3l-banner-content">
        <div class="container">
        <h1>Home Detail</h1>
         <table class="table">
            <tr class="table-headder">
                <td>Home</td>
                <td>Location</td>
                <td>Address</td>
                 <td>Floor</td>
                <td>Paint amount</td>
                <td>Rent</td>
            </tr>

             {% for home in home_details %}
            <tr class="table-data">
                <td>{{ home.home_name}}</td>
                <td>{{home.home_location}}</td>
                <td>{{home.home_address}}</td>
                <td>{{home.home_floor}}</td>
                <td>{{home.home_paint_money}}</td>
                <td>{{home.home_rent}}</td>
            </tr>
            {% endfor %}

         </table>
        </div>
      </div>
</div>
  
  
  
{% endblock %}
