{% extends 'template.html' %}
{% load static %}
{% block headder %}

    <div class="w3l-banner-content">
        <div class="container">
        <h1>Home Detail</h1>
        <div>
            <input type="button" class="button" value="Add Home" onclick="location.href = 'add_home_detail';">
        </div>
         <table class="table">
            <tr class="table-headder">
                <td>Home</td>
                <td>Location</td>
                <td>Address</td>
                 <td>Floor</td>
                <td>Paint amount</td>
                <td>Rent</td>
            </tr>

             {% for home in home_details %}
            <tr class="table-data">
                <td><a href="home_detail_modify/{{home.id}}">{{ home.home_name}}</a></td>
                <td>{{home.home_location}}</td>
                <td>{{home.home_address}}</td>
                <td>{{home.home_floor}}</td>
                <td>{{home.home_painting_money}}</td>
                <td>{{home.home_rent}}</td>
            </tr>
            {% endfor %}

         </table>
        </div>
      </div>
</div>
  
  
  
{% endblock %}
