{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="w3l-banner-content">
    <div class="container">
         <div class="form-inner-cont">
                <center><h1>Login</h1></center>
                {% for message in messages %}
                <center><h5 class="warning">
                  {{message}}
                </h5></center>
                {% endfor %}

                <form action="authenticate" method="post" class="signin-form">{% csrf_token %}
                  <div class="form-grids">
                    <div class="form-input" data-aos="fade-up">
                      <input type="text" name="email" placeholder="Enter your Username *" required />
                    </div>
                    <div class="form-input" data-aos="fade-up">
                      <input type="password" name="password" placeholder="Enter your Password *" required />
                    </div>
                  </div>

                  <div class="text-center mt-3">
                    <button class="btn btn-style btn-primary">Login</button>
                  </div>
                </form>
         </div>
    </div>
</div>

{% endblock %}