{% extends 'template.html' %}
{% load static %}
{% block headder %}
{% include 'dashboard_headder.html' %}

    <div class="w3l-banner-content">
        <div class="container">
        <h1>Tenent Detail</h1>
         <table class="table">
            <tr class="table-headder">
                <td>Tenent Name</td>
                <td>Tenent StartDate</td>
                <td>Tenent EndDate</td>
                <td>Tenent Home</td>
                <td>Tenent Advance</td>
                <td>Tenent Note</td>
            </tr>

             {% for tenent in tenent_details %}
            <tr class="table-data">
                <td>{{tenent.tenent_name}}</td>
                <td>{{tenent.tenent_start_date}}</td>
                <td>{{tenent.tenent_end_date}}</td>
                <td>{{tenent.tenent_home_id.home_name}}</td>
                <td>{{tenent.tenent_advance}}</td>
                <td>{{tenent.tenent_note}}</td>
            </tr>
            {% endfor %}

         </table>
        </div>
      </div>
</div>
  
  
  
{% endblock %}
